@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if (Model.Launches != null)
{
    
    @if (Model.Rockets != null)
    {

            @foreach (var rocket in Model.Rockets)
            {           
                <h4>@rocket.RocketName</h4>  
            }   
    }
}

<div>
<form method="post">
    <input type="submit" value="Calculate Price"/>
</form>
@if(Model.Price > 0)
{
    <h4>Price: @Model.Price</h4>
}
</div>




